html {
  font-family: sans-serif;
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  background-color: black;
}

html body {
  max-width: 100%;
  overflow-x: hidden;
}

p {
  font-size: larger;
}

body {
  margin: 0;
  background-color: white;
  overflow: scroll;
}

section {
  border-bottom: 1px solid black;
  height: 100vh;
  width: 100vw;
  scroll-snap-align: start;
  text-align: center;
  position: relative;
}

img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
}

.hide {
  display: none;
}

#particlesJs {
  position: relative;
  width: 100vw;
  height: 30%;
  background-color: #021928;
}

#avatarPicture {
  position: absolute;
  width: 200px;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  top: 2%;
  left: 0;
  right: 0;
  text-align: center;
  border-radius: 50%;
}

.landingPage {
  border-bottom: 1px solid black;
  text-align: center;
  position: relative;
  color: white;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.landingPageSection {
  position: relative;
  color: white;
  background-color: black;
  margin: 0;
  height: 100vh;
}

#name {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.topnav a {
  float: left;
  color: #000000;
  text-decoration: none;
  font-size: 17px;
  margin-left: 20px;
  margin-top: 20px;
}

.topnav a:hover {
  color: #9e9d9d;
}

.topnav a.active {
  background-color: #ffffff;
  color: white;
}

.topnav-right {
  float: right;
  margin-right: 20px;
}

#aboutMeCard {
  float: right;
  position: relative;
  width: 200px;
  height: 200px;
  margin: 5%;
  display: inline;
}

#experinceCard {
  float: right;
  position: relative;
  width: 200px;
  height: 200px;
  margin: 5%;
  display: inline;
}

#aboutmetextarea {
  position: relative;
  display: inline-block;
}

.cardContainer {
  position: relative;
  width: auto;
  margin-top: -1%;
  background-color: black;
  overflow: scroll;
}

.ArrowDown {
  width: 10px;
  height: 10px;
}

.flipCardBack a {
  text-decoration: none;
  color: white;
}

.description {
  color: white;
  background-color: black;
  position: relative;
  margin-left: 5%;
  width: 40%;
  height: 100%;
  float: left;
}

.flipCardInner {
  position: relative;
  text-align: center;
  -webkit-transition: -webkit-transform 0.9s;
  transition: -webkit-transform 0.9s;
  transition: transform 0.9s;
  transition: transform 0.9s, -webkit-transform 0.9s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 200px;
  height: 200px;
}

.tile:hover .flipCardInner {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.flipCardFront, .flipCardBack {
  position: absolute;
  width: 200px;
  height: 200px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flipCardFront {
  color: black;
  background-color: #5c5a5a;
  margin-top: 10px;
}

.flipCardBack {
  background-color: #000000;
  color: white;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  overflow: scroll;
}

.tile {
  -webkit-animation: 0.8s cubic-bezier(0.25, 0.25, 0.25, 1.15) both fade-in;
          animation: 0.8s cubic-bezier(0.25, 0.25, 0.25, 1.15) both fade-in;
  border-radius: 4px;
  float: left;
  height: 75px;
  width: 100px;
}

.tile .card {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  color: black;
  -webkit-transform-origin: right center;
          transform-origin: right center;
  width: 100%;
}

.tile .card.back {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
}

#topExperinceCard {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 0;
  top: -5%;
  width: 100%;
  height: 60%;
  background-color: #021928;
  color: #c0bebe;
}

#topExperinceCard h2 span {
  display: block;
}

#experinceTriangleShape {
  position: relative;
  margin-top: -5%;
  margin-bottom: 0%;
  left: 40%;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #021928;
}

@-webkit-keyframes bounceRight {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  40% {
    -webkit-transform: translateX(-30px);
    transform: translateX(-30px);
  }
  60% {
    -webkit-transform: translateX(-15px);
    transform: translateX(-15px);
  }
}

@keyframes bounceRight {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  40% {
    -webkit-transform: translateX(-30px);
            transform: translateX(-30px);
  }
  60% {
    -webkit-transform: translateX(-15px);
            transform: translateX(-15px);
  }
}

.faAnglesRight {
  position: relative;
  top: 10%;
  color: #c0bebe;
  font-size: x-large;
  -webkit-animation: bounceRight 3s infinite;
          animation: bounceRight 3s infinite;
}

.carBackDrop {
  background-color: #30a9e0;
}

.coffeeBackDrop {
  background-color: #ba7b50;
}

.passwordBackDrop {
  background-color: #1e0f2d;
}

input[type=radio] {
  display: none;
}

.projectSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: background .4s ease-in;
  transition: background .4s ease-in;
}

.card {
  position: absolute;
  width: 55%;
  height: 100%;
  left: 0;
  right: 0;
  margin: auto;
  -webkit-transition: -webkit-transform .4s ease;
  transition: -webkit-transform .4s ease;
  transition: transform .4s ease;
  transition: transform .4s ease, -webkit-transform .4s ease;
  cursor: pointer;
}

.container {
  width: 100%;
  max-width: 780px;
  max-height: 600px;
  height: 100%;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cards {
  position: relative;
  width: 95%;
  height: 100%;
  margin-bottom: 20px;
}

#item1:checked ~ .cards #project3, #item2:checked ~ .cards #project1, #item3:checked ~ .cards #project2 {
  -webkit-transform: translatex(-50%) scale(0.8);
          transform: translatex(-50%) scale(0.8);
  opacity: .4;
  z-index: 0;
  -webkit-transition: .5s ease-in;
  transition: .5s ease-in;
}

#item1:checked ~ .cards #project2, #item2:checked ~ .cards #project3, #item3:checked ~ .cards #project1 {
  -webkit-transform: translatex(50%) scale(0.8);
          transform: translatex(50%) scale(0.8);
  opacity: .4;
  z-index: 0;
  -webkit-transition: .5s ease-in;
  transition: .5s ease-in;
}

#item1:checked ~ .cards #project1, #item2:checked ~ .cards #project2, #item3:checked ~ .cards #project3 {
  -webkit-transform: translatex(0) scale(1);
          transform: translatex(0) scale(1);
  opacity: 1;
  z-index: 1;
  -webkit-transition: .5s ease-in;
  transition: .5s ease-in;
}

#item1:checked ~ .cards #project1 img, #item2:checked ~ .cards #project2 img, #item3:checked ~ .cards #project3 img {
  -webkit-box-shadow: 0px 0px 5px 0px rgba(81, 81, 81, 0.47);
          box-shadow: 0px 0px 5px 0px rgba(81, 81, 81, 0.47);
}

.infoContainer {
  background-color: #fff;
  border-radius: 8px;
  min-width: 260px;
  padding: 16px 10px;
}

.upperpart {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 12px;
  height: 36px;
  overflow: hidden;
}

.projectinfo {
  width: calc(100% - 32px);
  display: block;
}

.projectinfo .title {
  color: #403d40;
  font-size: 14px;
  line-height: 24px;
}

.subline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.liveLink {
  font-size: 12px;
  line-height: 8px;
}

.githubIcon {
  position: relative;
  top: -5px;
  line-height: 16px;
  color: #a5a5a5;
  margin-left: auto;
  margin-bottom: 0px;
}

.infoarea {
  width: 100%;
  position: absolute;
  top: 0;
  left: 30px;
  -webkit-transition: -webkit-transform .4s ease-in;
  transition: -webkit-transform .4s ease-in;
  transition: transform .4s ease-in;
  transition: transform .4s ease-in, -webkit-transform .4s ease-in;
}

#item1:checked ~ .infoContainer #test {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

#item2:checked ~ .infoContainer #test {
  -webkit-transform: translateY(-40px);
          transform: translateY(-40px);
}

#item3:checked ~ .infoContainer #test {
  -webkit-transform: translateY(-80px);
          transform: translateY(-80px);
}

#contact {
  border-bottom: 1px solid black;
  height: 20vh;
  text-align: center;
  position: relative;
  background-color: grey;
}

.wrapper {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  list-style: none;
}

.wrapper .icon {
  position: relative;
  background: #474646;
  border-radius: 50%;
  padding: 15px;
  margin: 10px;
  width: 50px;
  height: 50px;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  -webkit-transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: #ffffff;
  color: #000000;
  padding: 5px 8px;
  border-radius: 5px;
  -webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #ffffff;
  bottom: -3px;
  left: 50%;
  -webkit-transform: translate(-50%) rotate(45deg);
          transform: translate(-50%) rotate(45deg);
  -webkit-transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
  background: #1877F2;
  color: #ffffff;
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
  background: #E4405F;
  color: #ffffff;
}

.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
  background: #1DA1F2;
  color: #ffffff;
}

.wrapper .github:hover,
.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip::before {
  background: #5e1d94;
  color: #ffffff;
}

.wrapper .linkedin:hover,
.wrapper .linkedin:hover .tooltip,
.wrapper .linkedin:hover .tooltip::before {
  background: #1c6894;
  color: #ffffff;
}

.wrapper .resume:hover,
.wrapper .resume:hover .tooltip,
.wrapper .resume:hover .tooltip::before {
  background: #7d7e7e;
  color: #ffffff;
}

.contactPage {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  height: 400px;
  color: white;
  background-color: #021928;
}

@media screen and (max-width: 640px) {
  .wrapper .icon {
    width: 20px;
    height: 20px;
    right: 25%;
  }
}

@media screen and (max-width: 445px) {
  .description {
    width: auto;
    height: auto;
    margin-left: 0;
  }
  #aboutMeCard {
    margin: 10px;
    right: 20%;
  }
  #experinceCard {
    margin: 10px;
    right: 20%;
  }
  .wrapper .icon {
    margin: 0%;
  }
}

@media screen and (max-width: 400px) {
  .contact-info {
    width: 100vmin;
  }
  .wrapper .icon {
    width: 15px;
    height: 15px;
  }
  .card-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 390px) {
  .contact-info {
    margin: 0;
  }
  .wrapper .icon {
    margin: 0%;
  }
  .topnav {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .topnav-right {
    float: none;
    margin-right: 0px;
  }
  #avatar-picture {
    margin-top: 5%;
  }
}

@media screen and (max-width: 290px) {
  ul.wrapper {
    left: 5%;
  }
  #contact-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
/*# sourceMappingURL=App.css.map */